body{
margin: 0;
border: 0;
width: 100%;
}
a.buttonHeader{
float: right;
position: relative;
display: inline-block;
color: #777674;
margin-right: 3px;
overflow: hidden;
font-weight: bold;
text-decoration: none;
text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
user-select: none;
padding: 1em 2em;
outline: none;
border-radius: 3px / 100%;
background-image:
linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, 
rgba(255,255,255,.3)),
linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
background-repeat: no-repeat;
background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
a.buttonHeader:hover{
transition: .5s linear;
background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
a.buttonHeader:active{
top: 2px;
}
#header{
position: fixed;
z-index: 15;
width: 100%;
padding: 4px;
min-width: 693px;
overflow: scroll;
background-color: rgba(00,00,00);
background: linear-gradient(90deg, #58ACFA, #333);
box-shadow: -4px 5px 4px -1px #000000;	
box-shadow: 6px -9px 13px 5px #405050 inset, -4px 5px 4px -1px #000000;
}
#logo{
background-image: url("/home/anton/landing/image/bmw.png");
background-size: cover;
height: 50px;
width: 50px;
margin-left: 10px; 
position: absolute;
box-shadow: -1px 1px 1px -5px #999 inset;	
}
#headLine{
margin-right: 4%;
margin-bottom: 24%;
font-family: 'K2D', sans-serif,arial;
font-size: 4vw;	
z-index: 9;
position: relative;
color: #227;
align-self: center;
text-shadow:  2px 2px 3px black, 0 0 1em black;
}
.listBG{
background-image: url("/home/anton/landing/image/dark_fish_skin_@2X.png");	
}
#firstPage{
width: 100%;
height: 100vh;
}
#firstImage{
background-image: url("/home/anton/landing/image/ps.jpg");
background-repeat: no-repeat;
width: 100%;
background-size: cover;
background-position: center;
height: 100%;
display: flex;
justify-content: flex-end;
}
.googlePlay{
padding: 0;
margin: 0;
background-position: center;
background-image: url("/home/anton/landing/image/gp.png");
background-size: cover;
bottom: 2%;
right: 2%;
width: 16%;
height: 6%;
z-index: 7;
min-width: 156px;
min-height: 60px;
position: absolute;
opacity: 1;
}
.googlePlay:hover{
opacity: 0.6;
}
.googlePlay:active{
bottom: 4px;
opacity: 1;
}
#secondPage{
width: 100%;
height: 100%;
position: absolute;
z-index: 1;
}
#factory{
position: absolute;
z-index: 4;
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 2% 23% 1% 23% 2% 23% 1% 23% 2%;
grid-template-rows: 2% 47% 2% 47% 2%;	
}
.factories{
display: inline-block;
position: relative;
width: 100%;
height: 100%;
}
.first{
grid-column:2;
grid-row: 2; 
}
.second{
grid-column: 8;
grid-row: 2; 
}
.third{
grid-column: 2;
grid-row: 4;
}
.fourth{
grid-column: 8;
grid-row: 4;
}
.text{
font-family: 'K2D', sans-serif,arial;
font-size: 1.2em;
display: inline-block;
position: relative;
overflow: hidden;
text-shadow:  2px 2px 3px black, 0 0 1em gray;
color: #699;
}
.factoriesOne{
background-image: url("/home/anton/landing/image/factory1.jpg");
background-size: cover;
grid-column: 4;
grid-row: 2;	
}
.factoriesTwo{
background-image: url("/home/anton/landing/image/factory2.jpg");
background-size: cover;
grid-column: 6;
grid-row: 2;	
}
.factoriesThree{
background-image: url("/home/anton/landing/image/factory3.jpg");
background-size: cover;
grid-column: 4;
grid-row: 4;	
}
.factoriesFour{
background-image: url("/home/anton/landing/image/factory4.jpg");
background-size: cover;
grid-column: 6;
grid-row: 4;	
}
#thirdPage{

}
#fourthPage{

}
#fivethPage{

}
#footer{

}
